@use '../abstracts/variables' as *;
@use '../abstracts/utilities' as *;
@use '../abstracts/mixins' as *;

// ---------------------------------------------
// CONTAINER - Layout styles
// ---------------------------------------------

.layout-container {
  margin-inline: auto;
  padding-inline: clamp(1.6rem, 5vw, 2.4rem); // responsive padding
  margin-block: 8.1rem;

  // -----------------------------
  // Tablet layout
  // ----------------------------
  @media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-lg - 1)) {
    margin-block: 17.4rem;
    padding-inline: $space-500;
  }

  // -----------------------------
  // Desktop layout
  // ----------------------------
  @media (min-width: $breakpoint-lg) {
    max-width: 111.6rem;
    margin-top: 25.2rem;
  }
}
