@use '../abstracts/variables' as *;
@use '../abstracts/utilities' as *;
@use '../abstracts/mixins' as *;

// ---------------------------------------------
// CONTAINER - Layout styles
// ---------------------------------------------

.layout-container {
  max-width: 111.6rem;
  margin-block: 25.2rem;
  margin-inline: auto;
}
