@use '../abstracts/variables' as *;
@use '../abstracts/utilities' as *;
@use '../abstracts/mixins' as *;

// ---------------------------------------------
// GRID - Grid styles
// ---------------------------------------------

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); // mobile layout
  grid-auto-rows: minmax(20.3rem, auto);
  gap: $space-400;

  @media (min-width: $breakpoint-xs) {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr repeat(3, 1fr); // 4-column layout
  }
}

// Tablet layout
@media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-lg - 1)) {
  .dashboard-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  // Move to profile card later
  .profile-card {
    grid-column: 1 / -1; // span all columns
    grid-row: auto;
  }
}
