@use '../abstracts/variables' as *;
@use '../abstracts/utilities' as *;
@use '../abstracts/mixins' as *;

// ---------------------------------------------
// GRID - Grid styles
// ---------------------------------------------

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr; // Mobile default
  grid-auto-rows: minmax(20.3rem, auto);
  gap: $space-400;
  max-width: 100%;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: 1fr repeat(3, 1fr); // 4-column layout
  }
}
