@use '../abstracts/variables' as *;
@use '../abstracts/utilities' as *;
@use '../abstracts/mixins' as *;

// ---------------------------------------------
// DASHBOARD CARD — Activity card component
// ---------------------------------------------

.dashboard-card {
  @include flex-column(start, start);
  border-radius: $card-border-radius;
  overflow: hidden;
  background-color: transparent;

  &__bg {
    width: 100%;
    height: $card-bg-height; // match Figma
    background-size: initial;
    background-repeat: no-repeat;
    background-position: top right 1.5rem;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
  }

  &--work {
    background-color: $color-accent-orange;
    background-image: url('/src/assets/images/icon-work.svg');
  }

  &__inner {
    @include flex-column(start, space-between, center);
    width: 100%;
    background-color: $color-bg-card;
    border-radius: $card-border-radius;
    padding: $card-padding-top $card-padding-sides $card-padding-bottom;
    transform: translateY(-$space-200);
  }

  // Top row (title + icon)
  &__top {
    @include flex-row(between, center, nowrap);
    margin-bottom: $space-300;
  }

  &__title {
    @include text-preset-5-medium;
    color: $color-text-heading;
  }

  &__menu-icon {
    display: inline-block;
    width: 2rem;
    height: 0.5rem;
    background-image: url('/src/assets/images/icon-ellipsis.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  // Bottom row (hours + subtitle)
  &__bottom {
    @include flex-column(start, start);
  }

  &__hours {
    @include card-hour-text;
    color: $color-text-heading;
    margin-bottom: $space-100;
  }

  &__subtitle {
    @include text-preset-6;
    color: $color-text-muted;
  }
}
