@use '../abstracts/variables' as *;
@use '../abstracts/utilities' as *;
@use '../abstracts/mixins' as *;

// ---------------------------------------------
// PROFILE - Main profile sidebar card
// ---------------------------------------------

.profile-card {
  @include flex-column(start, start);
  height: 100%;

  @media (min-width: $breakpoint-lg) {
    grid-column: 1 / 2;
    grid-row: span 2;
  }

  &__avatar {
    width: $avatar-size;
    border-radius: 50%;
    border: 3px solid $white;
    margin-bottom: $space-500;
  }

  &__subtitle {
    @include text-preset-6;
    color: $color-text-muted;
  }

  &__name {
    @include text-preset-2;
    color: $color-text-heading;
  }

  // ----------------------------
  // HEADER
  // ----------------------------
  &__header {
    @include flex-column(start, start);
    background-color: $color-accent-purple;
    border-radius: $card-border-radius;
    padding: $space-400 $space-850 $space-920 $space-400;
    transform: translateY($space-200);
  }

  // ----------------------------
  // FOOTER
  // ----------------------------
  &__footer {
    background-color: $color-bg-card;
    border-radius: $card-border-radius;
    width: 100%;
  }

  &__timeframe-toggle {
    @include flex-column(center, start);
    gap: $space-210;
    padding: $space-280 $space-1550 $space-280 $space-400;
  }

  // ----------------------------
  // TOGGLE LINKS
  // ----------------------------
  &__link {
    @include text-preset-5-regular;
    all: unset;
    cursor: pointer;
    font: inherit;
    color: $color-link-inactive;
    transition: color 0.2s ease;

    &:hover {
      color: $white;
    }

    &:focus-visible {
      outline: 2px dashed $color-text-heading;
      outline-offset: 4px;
    }

    &--active {
      color: $white;
    }
  }
}
