// ---------------------------------------------
// FONTS
// ---------------------------------------------

@font-face {
  font-family: 'Rubik';
  src: url('../../assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

// Recommended usage:
// font-family: 'Rubik', system-ui, sans-serif;
