@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../../assets/fonts/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

img,
picture,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #1c204b;
  font-family: "Rubik", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.5;
  overscroll-behavior-x: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

strong {
  font-weight: 700;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 1.5rem;
  overflow: hidden;
  background-color: transparent;
  width: 100%;
  max-width: 100%;
}
.dashboard-card__bg {
  width: 100%;
  height: 6.5rem;
  background-size: initial;
  background-repeat: no-repeat;
  background-position: top right 1.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.dashboard-card--work {
  background-color: #ff8b64;
  background-image: url("/src/assets/images/icon-work.svg");
}
.dashboard-card--play {
  background-color: #55c2e6;
  background-image: url("/src/assets/images/icon-play.svg");
}
.dashboard-card--study {
  background-color: #ff5e7d;
  background-image: url("/src/assets/images/icon-study.svg");
}
.dashboard-card--exercise {
  background-color: #4bcf82;
  background-image: url("/src/assets/images/icon-exercise.svg");
}
.dashboard-card--social {
  background-color: #5747ea;
  background-image: url("/src/assets/images/icon-social.svg");
}
.dashboard-card--self-care {
  background-color: #f1c75b;
  background-image: url("/src/assets/images/icon-self-care.svg");
}
.dashboard-card__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #0e1323;
  border-radius: 1.5rem;
  padding: 3.2rem 3.25rem 3.1rem;
  transform: translateY(-1.6rem);
}
.dashboard-card__top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  width: 100%;
}
.dashboard-card__title {
  font-weight: 500;
  font-size: clamp(1.6rem, 1.5vw + 1rem, 1.8rem);
  line-height: 2.1rem;
}
.dashboard-card__menu-icon {
  display: inline-block;
  width: 2rem;
  height: 0.5rem;
  background-image: url("/src/assets/images/icon-ellipsis.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.dashboard-card__bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
@media (max-width: 600px) {
  .dashboard-card__bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
.dashboard-card__hours {
  font-weight: 300;
  font-size: clamp(2.4rem, 2vw + 1rem, 3.2rem);
  line-height: 3.8rem;
  margin-bottom: 0.8rem;
}
@media (min-width: 800px) {
  .dashboard-card__hours {
    font-weight: 300;
    font-size: clamp(3.6rem, 5vw + 1rem, 5.6rem);
    line-height: 6.6rem;
  }
}
.dashboard-card__subtitle {
  font-weight: 400;
  font-size: clamp(1.4rem, 1vw + 1rem, 1.4rem);
  line-height: 1.8rem;
  color: #bbc0ff;
}

.profile-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 1.6rem;
  height: 100%;
}
.profile-card__avatar {
  width: 7.8rem;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin-bottom: 4rem;
}
@media (max-width: 1024px) {
  .profile-card__avatar {
    margin-bottom: 0;
  }
}
.profile-card__subtitle {
  font-weight: 400;
  font-size: clamp(1.4rem, 1vw + 1rem, 1.4rem);
  line-height: 1.8rem;
  color: #bbc0ff;
}
.profile-card__name {
  font-weight: 300;
  font-size: clamp(2.5rem, 3vw + 1rem, 4rem);
  line-height: 4.7rem;
  color: #ffffff;
}
.profile-card__header {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #5747ea;
  border-radius: 1.5rem;
  padding: 3.2rem 8.5rem 9.2rem 3.2rem;
}
@media (max-width: 1024px) {
  .profile-card__header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2.4rem;
    padding: 3.45rem 2.45rem 2.45rem 3.2rem;
  }
}
.profile-card__footer {
  flex: 1;
  background-color: #0e1323;
  border-radius: 1.5rem;
  width: 100%;
  margin-top: -1.6rem;
}
.profile-card__timeframe-toggle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2.1rem;
  padding: 4.76rem 15.5rem 2.8rem 3.2rem;
}
@media (max-width: 1024px) {
  .profile-card__timeframe-toggle {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
}
@media (max-width: 600px) {
  .profile-card__timeframe-toggle {
    padding: 4rem 2rem 2rem;
  }
}
.profile-card__link {
  font-weight: 400;
  font-size: clamp(1.6rem, 1.5vw + 1rem, 1.8rem);
  line-height: 2.1rem;
  all: unset;
  cursor: pointer;
  font: inherit;
  color: #7078c9;
  transition: color 0.2s ease;
}
.profile-card__link:hover {
  color: #ffffff;
}
.profile-card__link:focus-visible {
  outline: 2px dashed #ffffff;
  outline-offset: 4px;
}
.profile-card__link--active {
  color: #ffffff;
}
@media (min-width: 1024px) {
  .profile-card {
    grid-column: 1/2;
    grid-row: span 2;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .profile-card {
    grid-column: 1/-1;
    grid-row: auto;
  }
}

.layout-container {
  margin-inline: auto;
  padding-inline: clamp(1.6rem, 5vw, 2.4rem);
  margin-block: 8.1rem;
}
@media (min-width: 600px) and (max-width: 1023px) {
  .layout-container {
    margin-block: 17.4rem;
    padding-inline: 4rem;
  }
}
@media (min-width: 1024px) {
  .layout-container {
    max-width: 111.6rem;
    margin-top: 25.2rem;
  }
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(20.3rem, auto);
  gap: 3.2rem;
  max-width: 100%;
}
@media (min-width: 600px) {
  .dashboard-grid {
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  }
}
@media (min-width: 1024px) {
  .dashboard-grid {
    grid-template-columns: 1fr repeat(3, 1fr);
  }
}/*# sourceMappingURL=main.css.map */