@use '../abstracts/variables' as *;

// ---------------------------------------------
// BASE
// ---------------------------------------------

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: $color-bg-primary;
  font-family: $font-primary;
  font-size: $font-size-body;
  font-weight: $font-weight-regular;
  color: $white;
  line-height: 1.5;
  overscroll-behavior-x: none;

  // Optional: since you now control this here
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
